:root {
  --dark_blue_text: hsl(238, 29%, 16%);
  --soft_red_text: hsl(14, 88%, 65%);
  --very_dark_greyblue_text: hsl(237, 12%, 33%);
  --dark_greyblue_text: hsl(240, 6%, 50%);
  --background_violet_gradient: hsl(273, 75%, 66%);
  --background_blue_gradient: hsl(240, 73%, 65%);
  --divider_light_blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom,
    var(--background_violet_gradient),
    var(--background_blue_gradient)
  );
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark_blue_text);
}

#container {
  background-color: white;
  display: flex;
  max-width: 900px;
  margin: 150px auto;
  border-radius: 20px;
  justify-content: space-between;
}

.accordion-container {
  max-width: 400px;
  overflow: hidden;
  padding: 10px 30px;
}

.accordion-container h1 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  overflow: hidden;
}

.question_tab {
  padding: 12px 0;
}

.title,
.content {
  padding-right: 100px;
}

.title {
  display: block;
  color: var(--dark_greyblue_text);
  cursor: pointer;
  position: relative;
  transition: 0.1s;
  white-space: nowrap;
}

.title:hover {
  color: var(--soft_red_text);
}

.title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url("images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.4s;
}

.content {
  display: none;
}

.accordion_class {
  display: none;
}

.accordion_class:checked ~ .content {
  display: block;
  padding: 10px 0;
  padding-right: 50px;
  font-size: 13px;
  color: var(--dark_blue_text);
}

.accordion_class:checked ~ .title {
  font-size: 15px;
  font-weight: 700;
  color: var(--very_dark_greyblue_text);
}

.accordion_class:checked ~ .title::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.divider:not([size]) {
  height: 1px;
}

.divider {
  background-color: var(--divider_light_blue);
  border: solid 1px var(--divider_light_blue)
}