html {
  height: 100vh;
}

:root {
  --dark-blue-text: hsl(238, 29%, 16%);
  --soft-red-text: hsl(14, 88%, 65%);
  --very-dark-greyblue-text: hsl(237, 12%, 33%);
  --dark-greyblue-text: hsl(240, 6%, 50%);
  --background-violet-gradient: hsl(273, 75%, 66%);
  --background-blue-gradient: hsl(240, 73%, 65%);
  --divider-light-blue: hsl(240, 5%, 91%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Genral sizings */
body {
  margin: auto auto;
  background-image: linear-gradient(
    to bottom,
    var(--background-violet-gradient),
    var(--background-blue-gradient)
  );
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
  max-width: 1440px;
  font-family: "Kumbh Sans", sans-serif;
  color: var(--dark-blue-text);
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--very-dark-greyblue-text);
}

#container {
  background-color: white;
  display: flex;
  max-width: 870px;
  height: 450px;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 0px 15px 40px 10px rgba(0, 0, 0, 0.15);
}

/* Image containers */
/* Id's */

#bg-desktop {
  position: relative;
  bottom: 690px;
  right: 590px;
}

#bg-mobile {
  display: none;
}

/* Classes */
.img-container {
  max-width: 455px;
  height: 500px;
  position: relative;
  padding-right: 10px;
}

.illustrations {
  height: 100%;
  overflow: hidden;
}

.box {
  display: block;
  position: absolute;
  bottom: 8em;
  left: -6em;
  z-index: 2;
}

.desktop {
  position: relative;
  top: 60px;
  right: 70px;
  width: 450px;
  z-index: 1;
}

.mobile {
  display: none;
}

/* Accordion containers*/
.accordion-container {
  width: 400px;
  padding: 60px 30px;
  padding-left: 0;
}

.accordion-container h1 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 25px;
}

.question-tab {
  padding: 15px 0;
}

.title {
  display: block;
  color: var(--dark-greyblue-text);
  cursor: pointer;
  position: relative;
  transition: 0.1s;
  white-space: nowrap;
}

.title:hover {
  color: var(--soft-red-text);
}

.title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 6px;
  right: -12px;
  background-image: url("images/icon-arrow-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.4s;
}

.content {
  display: none;
  opacity: 0;
}

.accordion-class {
  display: none;
}

.accordion-class:checked ~ .content {
  display: block;
  font-size: 13px;
  padding: 7px 0;
  padding-right: 10px;
  color: var(--dark-greyblue-text);
  line-height: 1.5;
  opacity: 1;
}

.accordion-class:checked ~ .title {
  font-weight: 700;
  color: var(--very-dark-greyblue-text);
}

.accordion-class:checked ~ .title::after {
  transform: translateY(-50%) rotate(0.5turn);
}

/* Misc */
.divider {
  background-color: var(--divider-light-blue);
  border: solid 0.5px var(--divider-light-blue);
  width: 100%;
}

#last-divider {
  display: none;
}

.attribution {
  margin-top: 20px;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 975px) {
  /* General sizings */
  #container {
    flex-direction: column;
    position: relative;
    width: 78%;
    height: 50%;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 0;
  }

  /* Image containers */
  #bg-desktop,
  .desktop,
  .box {
    display: none;
  }

  #bg-mobile,
  .mobile {
    display: block;
  }

  #bg-mobile {
    position: relative;
    bottom: 75px;
    left: 15px;
  }

  .img-container {
    position: relative;
    right: 15px;
    align-items: center;
    height: 4.375em;
  }

  .illustrations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: visible;
  }

  /* Accordion containers */
  .accordion-container {
    max-width: 77%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 60px 0;
  }

  .accordion-container h1 {
    margin: auto;
    padding: 0;
    margin-bottom: 0.5em;
    text-align: center;
  }

  .question-tab {
    width: 100%;
    font-size: 12px;
    padding: 12px 0;
  }

  .title::after {
    right: -20px;
  }

  .accordion-class:checked ~ .content {
    display: block;
    padding: 5px 0;
    padding-right: 15px;
    font-size: 12px;
    color: var(--dark-blue-text);
  }

  .accordion-class:checked ~ .title::after {
    right: -20px;
    transform: translateY(-50%) rotate(0.5turn);
  }

  /* Misc */
  #last-divider {
    display: block;
  }

  .attribution {
    display: none;
  }
}

@media screen and (min-width: 760px) and (max-width: 975px) {
  /* General sizings */
  #container {
    max-width: 78%;
  }

  /* Accordion containers */
  .question-tab {
    width: 100%;
    font-size: 16px;
  }

  .content {
    font-size: 16px;
  }

  .title::after {
    right: 0;
  }

  .accordion-class:checked ~ .title::after {
    right: 0;
    transform: translateY(-50%) rotate(0.5turn);
  }
}
